<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Writebook{% endblock %}</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="UTF-8">
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, interactive-widget=resizes-content">
    <meta name="view-transition" content="same-origin">
    <meta name="turbo-cache-control" content="no-cache">

    <meta name="csrf-token" content="{% csrf_token %}">

    {% block head %}{% endblock %}
    {% if account_custom_styles %}<style>{{ account_custom_styles|safe }}</style>{% endif %}

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/app-icon.png">

    {# Writebook stylesheets — order matches Rails' alphabetical :all default #}
    <link rel="stylesheet" href="{% asset 'stylesheets/_reset.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/animation.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/arrangement.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/base.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/books.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/breadcrumbs.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/buttons.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/colors.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/dialog.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/house.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/inputs.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/layout.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/library.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/lightbox.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/pages.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/panels.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/popover.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/product.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/qr-code.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/search.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/sidebar.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/syntax.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/text.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/toc.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/translations.css' %}">
    <link rel="stylesheet" href="{% asset 'stylesheets/utilities.css' %}">

    <script type="importmap">
    {
      "imports": {
        "@hotwired/turbo": "https://cdn.jsdelivr.net/npm/@hotwired/turbo@8.0.13/dist/turbo.es2017-esm.js",
        "@hotwired/stimulus": "https://cdn.jsdelivr.net/npm/@hotwired/stimulus@3.2.2/dist/stimulus.js",
        "@rails/actioncable": "https://cdn.jsdelivr.net/npm/@rails/actioncable@8.0.0/+esm",
        "@rails/request.js": "https://cdn.jsdelivr.net/npm/@rails/request.js@0.0.11/+esm",
        "house": "https://cdn.jsdelivr.net/npm/house@0.1.6/+esm",

        "actions/scroll_into_view": "{% asset 'javascript/actions/scroll_into_view.js' %}",

        "helpers/cookie_helpers": "{% asset 'javascript/helpers/cookie_helpers.js' %}",
        "helpers/form_helpers": "{% asset 'javascript/helpers/form_helpers.js' %}",
        "helpers/reading_progress_helpers": "{% asset 'javascript/helpers/reading_progress_helpers.js' %}",
        "helpers/timing_helpers": "{% asset 'javascript/helpers/timing_helpers.js' %}",

        "controllers/arrangement_controller": "{% asset 'javascript/controllers/arrangement_controller.js' %}",
        "controllers/auto_submit_controller": "{% asset 'javascript/controllers/auto_submit_controller.js' %}",
        "controllers/autoremove_controller": "{% asset 'javascript/controllers/autoremove_controller.js' %}",
        "controllers/autosave_controller": "{% asset 'javascript/controllers/autosave_controller.js' %}",
        "controllers/autoselect_controller": "{% asset 'javascript/controllers/autoselect_controller.js' %}",
        "controllers/copy_to_clipboard_controller": "{% asset 'javascript/controllers/copy_to_clipboard_controller.js' %}",
        "controllers/dependent_checkbox_controller": "{% asset 'javascript/controllers/dependent_checkbox_controller.js' %}",
        "controllers/dialog_controller": "{% asset 'javascript/controllers/dialog_controller.js' %}",
        "controllers/edit_mode_controller": "{% asset 'javascript/controllers/edit_mode_controller.js' %}",
        "controllers/form_controller": "{% asset 'javascript/controllers/form_controller.js' %}",
        "controllers/fullscreen_controller": "{% asset 'javascript/controllers/fullscreen_controller.js' %}",
        "controllers/hotkey_controller": "{% asset 'javascript/controllers/hotkey_controller.js' %}",
        "controllers/lightbox_controller": "{% asset 'javascript/controllers/lightbox_controller.js' %}",
        "controllers/popover_controller": "{% asset 'javascript/controllers/popover_controller.js' %}",
        "controllers/reading_progress_controller": "{% asset 'javascript/controllers/reading_progress_controller.js' %}",
        "controllers/reading_tracker_controller": "{% asset 'javascript/controllers/reading_tracker_controller.js' %}",
        "controllers/scroll_to_highlight_controller": "{% asset 'javascript/controllers/scroll_to_highlight_controller.js' %}",
        "controllers/sidebar_controller": "{% asset 'javascript/controllers/sidebar_controller.js' %}",
        "controllers/toc_view_controller": "{% asset 'javascript/controllers/toc_view_controller.js' %}",
        "controllers/touch_controller": "{% asset 'javascript/controllers/touch_controller.js' %}",
        "controllers/upload_preview_controller": "{% asset 'javascript/controllers/upload_preview_controller.js' %}",
        "controllers/web_share_controller": "{% asset 'javascript/controllers/web_share_controller.js' %}"
      }
    }
    </script>
    <script type="module">
      import * as Turbo from "@hotwired/turbo";
      import { Application } from "@hotwired/stimulus";
      window.Turbo = Turbo;
      const Stimulus = Application.start();
      Stimulus.debug = false;
      window.Stimulus = Stimulus;

      import "actions/scroll_into_view";

      import ArrangementController from "controllers/arrangement_controller";
      import AutoSubmitController from "controllers/auto_submit_controller";
      import AutoremoveController from "controllers/autoremove_controller";
      import AutosaveController from "controllers/autosave_controller";
      import AutoselectController from "controllers/autoselect_controller";
      import CopyToClipboardController from "controllers/copy_to_clipboard_controller";
      import DependentCheckboxController from "controllers/dependent_checkbox_controller";
      import DialogController from "controllers/dialog_controller";
      import EditModeController from "controllers/edit_mode_controller";
      import FormController from "controllers/form_controller";
      import FullscreenController from "controllers/fullscreen_controller";
      import HotkeyController from "controllers/hotkey_controller";
      import LightboxController from "controllers/lightbox_controller";
      import PopoverController from "controllers/popover_controller";
      import ReadingProgressController from "controllers/reading_progress_controller";
      import ReadingTrackerController from "controllers/reading_tracker_controller";
      import ScrollToHighlightController from "controllers/scroll_to_highlight_controller";
      import SidebarController from "controllers/sidebar_controller";
      import TocViewController from "controllers/toc_view_controller";
      import TouchController from "controllers/touch_controller";
      import UploadPreviewController from "controllers/upload_preview_controller";
      import WebShareController from "controllers/web_share_controller";

      Stimulus.register("arrangement", ArrangementController);
      Stimulus.register("auto-submit", AutoSubmitController);
      Stimulus.register("autoremove", AutoremoveController);
      Stimulus.register("autosave", AutosaveController);
      Stimulus.register("autoselect", AutoselectController);
      Stimulus.register("copy-to-clipboard", CopyToClipboardController);
      Stimulus.register("dependent-checkbox", DependentCheckboxController);
      Stimulus.register("dialog", DialogController);
      Stimulus.register("edit-mode", EditModeController);
      Stimulus.register("form", FormController);
      Stimulus.register("fullscreen", FullscreenController);
      Stimulus.register("hotkey", HotkeyController);
      Stimulus.register("lightbox", LightboxController);
      Stimulus.register("popover", PopoverController);
      Stimulus.register("reading-progress", ReadingProgressController);
      Stimulus.register("reading-tracker", ReadingTrackerController);
      Stimulus.register("scroll-to-highlight", ScrollToHighlightController);
      Stimulus.register("sidebar", SidebarController);
      Stimulus.register("toc-view", TocViewController);
      Stimulus.register("touch", TouchController);
      Stimulus.register("upload-preview", UploadPreviewController);
      Stimulus.register("web-share", WebShareController);
    </script>
  </head>

  <body data-controller="fullscreen lightbox touch">
    <header id="header">
      {% block header %}{% endblock %}
    </header>

    <div id="toolbar">
      {% block toolbar %}{% endblock %}
    </div>

    <main id="main" class="{% block layout_class %}{% endblock %}">
      {% block content %}{% endblock %}
    </main>

    <aside id="sidebar" aria-label="Table of Contents">
      {% block sidebar %}{% endblock %}
    </aside>

    <footer id="footer">
      {% block footer %}{% endblock %}
    </footer>

    {% include "_lightbox.html" %}
  </body>
</html>
