{# Search button + modal dialog. Included from book__navbar in show.html and leaves/_header.html. #}
<div data-controller="dialog" data-action="keydown.ctrl+space@document->dialog#open keydown.esc->dialog#close">
  <button data-action="click->dialog#open" class="btn" title="Search (control + space)">
    <img src="{% asset 'images/search.svg' %}" aria-hidden="true" width="24" height="24" alt="">
    <span class="for-screen-reader">Search</span>
  </button>

  <dialog data-dialog-target="dialog" class="search__modal dialog panel shadow">
    <form method="dialog">
      <button class="btn panel__close" title="Close (esc)">
        <img src="{% asset 'images/remove.svg' %}" aria-hidden="true" width="24" height="24" alt="">
        <span class="for-screen-reader">Close</span>
      </button>
    </form>

    <div class="flex align-center gap">
      <label class="flex align-center gap full-width">
        <div class="flex align-center gap input input--actor">
          <img src="{% asset 'images/search.svg' %}" aria-hidden="true" width="24" height="24" class="colorize--black" alt="">
          <input type="search" name="q" form="search_form" class="search__input input full-width txt-large" autocomplete="off" autofocus placeholder="Find in this book&#8230;">
        </div>

        <button class="btn btn--reversed txt-medium" title="Submit search (enter)" form="search_form" type="submit" tabindex="-1">
          <img src="{% asset 'images/arrow-right.svg' %}" aria-hidden="true" width="24" height="24" alt="">
          <span class="for-screen-reader">Submit search</span>
        </button>
      </label>
    </div>

    <turbo-frame id="search">
      <form method="get" action="{% url 'books:search' book_id: book.id %}" id="search_form"></form>
    </turbo-frame>
  </dialog>
</div>
